
.nav-bar {
    background-color: white;
    height: 60px;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: space-between;
    top:0;
    bottom: 0;
}


.nav-logo {
    font-family: "Bebas Neue";
    font-size: 32px;
    color: black;

    background-color: #AEDBFC;
    border-right: 1px solid black;

    width: 190px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.cart-icon-container {
    align-self: center;
    margin-right: 38px;
    position: relative;
    cursor: pointer;
}

.cart-icon {
    height: 28px;
}

@media (max-width: 670px) {
    .nav-logo {
        font-family: "Bebas Neue";
        font-size: 31px;
        color: black;
    
        background-color: #AEDBFC;
        border-right: 1px solid black;
    
        width: 180px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
    }
}